.sidebar {
    min-height: 768px;
    height: 100%;
    padding: 8px;
    color: $mortar;
    background-color: $gainsboro;

    a {
        display: block;
        color: $mortar;

        &:hover {
            color: $denim;
            text-decoration: none;
        }
    }

    .sidebar-item {
        font-weight: 500;

        .sidebar-subitem {
            font-weight: 400;

            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }
        }
    }
}